@font-face {
  font-family: "Montserrat";
  src:
    url(montserrat-vf.woff2) format("woff2"),
    url(montserrat-vf.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "EnterCommand";
  src:
    url(entercommand.woff2) format("woff2"),
    url(entercommand.woff) format("woff");
  font-display: swap;
}

:root {
  --retro-font: "EnterCommand", monospace;
  --normal-font: "Montserrat", sans-serif;
}

body {
  font-family: var(--retro-font);
  font-size: 42px;
  text-shadow: 2px 2px 0 #000;
  color: #fff;
  background: #444;
  margin: 0;
}

.tag {
  display: flex;
  height: 150px;
  font-size: 72px;
  align-items: center;
}

.tag em {
  color: gold;
  padding: 0 25px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  user-select: none;
}

.buttons button {
  padding: 10px;
  font-family: var(--normal-font);
  font-size: 16px;
  background: #1283d1;
  border: 0;
  border-radius: 10px;
  color: #eee;
  box-shadow: 0 7px 0 #0863a5, 0 8px 3px rgb(0 0 0 / 30%);
  transition: all 0.25s;
  cursor: pointer;
}

.buttons button:disabled {
  opacity: 0.25;
}

.buttons button:active {
  color: #888;
  background: #08477a;
  transform: translateY(5px);
  box-shadow:
    0 2px 0 #0863a5,
    0 3px 3px rgb(0 0 0 / 30%);
}

.chars {
  display: flex;
  height: 450px;
  gap: 50px;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--normal-font);
  font-weight: lighter;
  font-size: 16px;
  text-shadow: none;
  background: linear-gradient(to right, #444, #414141, #444);
  padding: 20px 0;
  transition: background 0.4s;
  position: absolute;
  bottom: 42px;
  width: 100%;
}

footer p {
  margin: 4px 0;
}

footer a {
  color: #a17adf;
}

footer a:hover {
  color: #d5e63c;
}

footer em {
  color: red;
  font-style: normal;
}

footer::before {
  content: "";
  display: block;
  background-image: url(manzdev.png);
  background-size: 96px;
  background-repeat: no-repeat;
  background-position: right bottom 70px;
  width: 100px;
  height: 200px;
  position: absolute;
  transform: translateY(-150px);
  opacity: 0.05;
  z-index: -5;
  transition: opacity 0.4s;
}

footer:hover::before {
  opacity: 1;
}
